@font-face {
  font-family: 'MuseoSans100';
  font-style: normal;
  font-weight: 100;
  src:
    local('Museo Sans 100'),
    local('Museo-Sans-100'),
    url(/fonts/museosans/MuseoSans_100.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans100Italic';
  font-style: italic;
  font-weight: 100;
  src:
    local('Museo Sans 100 Italic'),
    local('Museo-Sans-100-Italic'),
    url(/fonts/museosans/MuseoSans_100_Italic.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans300';
  font-style: normal;
  font-weight: 300;
  src:
    local('Museo Sans 300'),
    local('Museo-Sans-300'),
    url(/fonts/museosans/MuseoSans_300.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans300Italic';
  font-style: italic;
  font-weight: 300;
  src:
    local('Museo Sans 300 Italic'),
    local('Museo-Sans-300-Italic'),
    url(/fonts/museosans/MuseoSans_300_Italic.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans500';
  font-style: normal;
  font-weight: 500;
  src:
    local('MuseoSans 500'),
    local('Museo-Sans-500'),
    url(/fonts/museosans/MuseoSans_500.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans500Italic';
  font-style: italic;
  font-weight: 500;
  src:
    local('Museo Sans 500 Italic'),
    local('Museo-Sans-500-Italic'),
    url(/fonts/museosans/MuseoSans_500_Italic.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans700';
  font-style: normal;
  font-weight: 700;
  src:
    local('Museo Sans 700'),
    local('Museo-Sans-700'),
    url(/fonts/museosans/MuseoSans_700.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans700Italic';
  font-style: italic;
  font-weight: 700;
  src:
    local('Museo Sans 700 Italic'),
    local('Museo-Sans-700-Italic'),
    url(/fonts/museosans/MuseoSans_700_Italic.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans900';
  font-style: normal;
  font-weight: 900;
  src:
    local('Museo Sans 900'),
    local('Museo-Sans-900'),
    url(/fonts/museosans/MuseoSans_900.otf) format('opentype');
}

@font-face {
  font-family: 'MuseoSans900Italic';
  font-style: italic;
  font-weight: 900;
  src:
    local('Museo Sans 900 Italic'),
    local('Museo-Sans-900-Italic'),
    url(/fonts/museosans/MuseoSans_900_Italic.otf) format('opentype');
}

::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: "MuseoSans100", "MuseoSans300", "MuseoSans500", "MuseoSans700", "MuseoSans900";
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: rgb(115, 229, 255);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal-content {
  border: 0 !important;
}

.bg-lumos {
  background-color: #FCB913 !important;
  display: flex !important;
  overflow: hidden !important;
  color: #fff !important;
  text-align: center !important;
  white-space: nowrap !important;
  transition: width .6s ease !important;
}

.datepicker {
  /* background: none !important; */
  position: fixed !important;
  top: 25% !important;
  bottom: 35% !important;
  width: 360px !important;
  font-size: 24px !important;
  text-align: left !important;
  font-family: 'MuseoSans500' !important;
  border-radius: 10px;
}

.datepicker-wheel {
  border: none !important;
  padding: 30px !important;
  margin-top: 40px !important;
}

.datepicker-col-1 {
  margin: 0 !important;
}